
:root{
--button-color: rgb(113, 113, 240)

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(161, 160, 218); */
    color: white;

}
body {
  background-image: url(./pitch.jpg);
 
}

  .container {
   display: flex;
   height: 100%;
   width: 100vh;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   
  }
  h2{
    font-size: 28px;
  }

  button{ font-size: 24px;
    margin-top: 8px;
    border-radius: 15px;
    padding: 5%;
    width: 300px;
    background-color: rgb(113, 113, 240);
    transition: transform 0.5s;
  }

  button:hover{
    transform: scale(1.1);
    opacity: 0.9;
  }

  #welcomePage {
    margin-top: 5rem;
    text-align: center;
    flex-direction: column;
    /* display: none; */
    
  }


  #startQuizPage{
    display: none;
  }

  #quizBoxPage {
    display: none ;
    margin-top: 50px;

  }


  #quizBoxPage button{
    width: 100%;

  }
  #questionList {
    align-items: center;
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
  }
  #checkAns {
    margin-top: 5px;
    font-size: 32px;
    font-style: italic;
    /* display: none; */
  }

  #gameEndPage {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 20rem;

  }

  #gameEndPage button{
    font-size: 20px;
    width: 250px;
    padding: 2%;
  }
  #gameEndPage input{
    width: 250px;
    text-align: center;
    /* text: black; */
    border: 2px  --button-color;
    color: black;

  }
  #result{
    font-size: 24px;
    margin-bottom: 0 2rem;
    text-align: center;
  }

  #Highscores_page {
    display: none;
    text-align: center;
    margin: 10rem;
    padding: 50px 100px;
  }

  /* #Highscores_page li{
    list-style: none;

    
  } */
 
  #Highscores_page button{
   text-align: center;
    font-size: 18px;
    
  }
  
  li{
    list-style: none;
  }
  
 @media screen and (max-width: 768px) {
      body {
        display: block;
        justify-content: center;
      }

      .container{
        .container {
          display: block;
          justify-content: center;
          margin-bottom: 5px;
      }
  
}

  
}
@media screen and (max-width: 600px) {
  .container{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 15px;

  }




  body {
    
    display: block;
    justify-content: center;
  }

  #gameEndPage {
  display: block;
  margin-left: 10rem;
  }
  #Highscores_page {
    display: block;
    display: none;
    margin-left: 3rem;
  }
  #welcomePage {
    display: block;
    width: 50%;
    margin-right: 10rem;
    
  }

#startQuizPage {
  width: 50%;
  display: block;
  

}

#questionOptions {
width: 70%;
display: block;



}
#questionList {
  width: 70%;
}
}